<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title><%= post.title %></title>
	<link href="./img/keller.ico" rel="shortcut icon" type="image/x-icon">
    <link href="./css/style.css" rel="stylesheet" />
	<link href="./css/default.css" rel="stylesheet" />
	<script src="./js/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>
	<body>
		<aside>
			<h1>
				<a>
					<img src="<%= index.author.baseUrl %>">
					</img>
				</a>
			</h1>
			<p class="disc">
				<%= index.author.description %>
			</p>
			<p>
				<ul>
					<li><a href="<%= index.author.index %>">主页</a></li>
					<li><a href="<%= index.author.github %>">github</a></li>
				</ul>
			</p>
		</aside>
		<section>
			<div>
				<p id="title"><%= post.title %></p>
				<p id="date"><%= new Date(post.date).toLocaleDateString() %></p>
			</div>
			<%- postHtml %>
        </section>
		<div id="link">
			友情链接:
			<% for(var i=0; i<index.links.length; i++){ %>
			<a href="<%= index.links[i].href %>">
				<%= index.links[i].name %>
			</a>
			<% } %>
		</div>
	</body>
</html>